
@{
    ViewBag.Title = "Simulation";
}

<section class="header" style="margin-bottom:40px"></section>

<!-- Input -->
<div class="inputs col-md-6" style="text-align:center">
    @Html.Partial("Input")
    <!-- Simulate button -->
    <div style="margin:20px">
        <button id="simulate-btn" type="submit" class="btn btn-primary btn-lg">SIMULATE!</button>
    </div>
</div>
<!-- Output -->
<div class="outputs col-md-6" style="text-align:center">
    @Html.Partial("Output")
    <!-- Export button -->
    <div style="margin:20px">
        <button type="button" class="btn btn-primary btn-lg">EXPORT TO CSV</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#simulate-btn').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Simulate", "Simulation")',
                data: {
                    motor: "Motor 1",
                    inputSpeed: JSON.stringify(refSpeedPlot.series[0].data),
                    inputTorque: JSON.stringify(loadTorquePlot.series[0].data),
                    size: refSpeedPlot.series[0].data.length
                },
                type: "post",
                dataType: 'json',
                success: function (response) {
                    outputSCPlot.series[0].data = response.current;
                    outputTorquePlot.series[0].data = response.torque;
                    outputSpeedPlot.series[0].data = response.speed;
                    outputDCVPlot.series[0].data = response.voltage;

                    outputSCPlot.replot({ resetAxes: true });
                    outputTorquePlot.replot({ resetAxes: true });
                    outputSpeedPlot.replot({ resetAxes: true });
                    outputDCVPlot.replot({ resetAxes: true });
                }
            })
        });
    });
</script>