<!-- Input speed -->
<div id=@ViewBag.id class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">@ViewBag.title</text>
        </div>
        <ul class="nav navbar-nav" style="background-color:rgba(255,255,255,0)">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Select Waveform<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a>Constant</a></li>
                    <li><a>Step</a></li>
                    <li><a>Ramp</a></li>
                    <li><a>Sinusoid</a></li>
                    <li><a>Custom</a></li>
                </ul>
            </li>
        </ul>
        <div class="row input-group" style="float:right; margin-right:0px">
            @Html.Partial("InputFields")
        </div>
    </div>
    <div class="panel-body">
        <div id=@ViewBag.plotid style="height:300px"></div>
    </div>
</div>

