<!-- Load torque -->
<div id="inputTorque" class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">Load Torque</text>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Waveform<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a>Step</a></li>
                    <li><a>Ramp</a></li>
                    <li><a>Sinusoid</a></li>
                    <li><a>Custom</a></li>
                </ul>
            </li>
        </ul>
        <div class="input-group pull-right">
            @Html.Partial("InputFields")
        </div>
    </div>
    <div class="panel-body">
        <div id="loadTorqueGraph" style="height:250px"></div>
    </div>
</div>

<script type="text/javascript">
    var loadTorquePlot;

    $(window).load(function () {
        var graph = [[0, 0]];
        loadTorquePlot = jQuery.jqplot('loadTorqueGraph', [graph], {
            seriesDefaults: {
                showMarker: false,
                pointLabels: { show: false, edgeTolerance: 5 }
            },
            axes: {
                xaxis: { label: "sec", labelRenderer: $.jqplot.CanvasAxisLabelRenderer },
                yaxis: { label: "Nm", labelRenderer: $.jqplot.CanvasAxisLabelRenderer }
            },
            cursor: {
                show: true
            }
        });
    });

    $(window).resize(function () {
        loadTorquePlot.replot();
    });
</script>

<script type="text/javascript">
    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.dropdown-toggle').html($(this).text() + '<span class="caret"></span>');
        $(this).parents(".dropdown").find('.dropdown-toggle').val($(this).data('value'));
        if ($(this).text() == "Sinusoid") {
            $(this).parents(".panel-heading").find('.step').hide();
            $(this).parents(".panel-heading").find('.ramp').hide();
            $(this).parents(".panel-heading").find('.sine').show();
            $(this).parents(".panel-heading").find('.custom').hide();
        }
        else if ($(this).text() == "Step") {
            $(this).parents(".panel-heading").find('.sine').hide();
            $(this).parents(".panel-heading").find('.ramp').hide();
            $(this).parents(".panel-heading").find('.step').show();
            $(this).parents(".panel-heading").find('.custom').hide();
        }
        else if ($(this).text() == "Ramp") {
            $(this).parents(".panel-heading").find('.step').hide();
            $(this).parents(".panel-heading").find('.sine').hide();
            $(this).parents(".panel-heading").find('.ramp').show();
            $(this).parents(".panel-heading").find('.custom').hide();
        }
        else if ($(this).text() == "Custom") {
            $(this).parents(".panel-heading").find('.step').hide();
            $(this).parents(".panel-heading").find('.sine').hide();
            $(this).parents(".panel-heading").find('.ramp').hide();
            $(this).parents(".panel-heading").find('.custom').show();
        }
        updatePlotData($(this).text(), $(this).parents(".panel")[0].id);
    });

    $(".inputField").change(function (event) {
        updatePlotData($(this).parents(".nav").find(".dropdown-toggle")[0].text, $(this).parents(".panel")[0].id)
    });

    function updatePlotData(plotType, plotName) {
        if (plotType == "Step") {
            var inputFields = document.getElementById(plotName).children[0].children[2].children[0];
            var param1 = parseFloat(inputFields.children[1].value);
            var param2 = parseFloat(inputFields.children[3].value);
            var param3 = parseFloat(inputFields.children[5].value);
            var param4 = 0;
        } else if (plotType == "Ramp") {
            var inputFields = document.getElementById(plotName).children[0].children[2].children[2];
            var param1 = parseFloat(inputFields.children[1].value);
            var param2 = parseFloat(inputFields.children[3].value);
            var param3 = parseFloat(inputFields.children[5].value);
            var param4 = 0;
        } else if (plotType == "Sinusoid") {
            var inputFields = document.getElementById(plotName).children[0].children[2].children[1];
            var param1 = parseFloat(inputFields.children[1].value);
            var param2 = parseFloat(inputFields.children[3].value);
            var param3 = parseFloat(inputFields.children[5].value);
            var param4 = parseFloat(inputFields.children[7].value);
        }
        if (plotType != "Custom") {
            $.ajax({
                url: '@Url.Action("UpdateGraph", "Simulation")',
                data: {
                    plot: plotName,
                    type: plotType,
                    param1: param1,
                    param2: param2,
                    param3: param3,
                    param4: param4
                },
                type: "post",
                dataType: 'json',
                success: function (response) {
                    drawPlot(plotName);
                }
            })
        }
    };
</script>
