<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <div class="navbar-brand" style="padding:15px; height:50px">Generated Signal Settings</div>
        </div>
        <div class="row input-group" style="float:right; margin-right:0px">
            <p class="navbar-text navbar-text-custom">Sample time</p>
            <input style="width: 70px; height: 30px; margin: 10px;" id="sampletime" type="text" class="form-control" value="0.0001" readonly>
            <p class="navbar-text navbar-text-custom">End time</p>
            <input style="width: 50px; height: 30px; margin: 10px;" id="endtime" type="text" class="form-control" value="2">
        </div>
    </div>
</div>
