<h2 style="text-align:center">Output</h2><br />

<!-- Stator current -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">Stator Current</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a onClick="outputSCPlot.replot({ resetAxes: true })" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="outputSCGraph" style="height:250px"></div>
    </div>
</div>
<!-- Torque -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">Torque</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a onClick="outputTorquePlot.replot({ resetAxes: true })" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="outputTorqueGraph" style="height:250px"></div>
    </div>
</div>
<!-- Speed -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">Speed</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a onClick="outputSpeedPlot.replot({ resetAxes: true })" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="outputSpeedGraph" style="height:250px"></div>
    </div>
</div>
<!-- DC bus voltage -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">DC Bus Voltage</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a onClick="outputDCVPlot.replot({ resetAxes: true })" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="outputDCVGraph" style="height:250px"></div>
    </div>
</div>
<div style="margin:20px">
    <button type="button" class="btn btn-primary btn-lg">EXPORT TO CSV</button>
</div>



<script type="text/javascript">
    var outputSCPlot;
    var outputTorquePlot;
    var outputSpeedPlot;
    var outputDCVPlot;

    $(window).load(function () {
        var graph = [[-1, 0], [0, 0], [0, 1], [1, 1]];
        outputSCPlot = jQuery.jqplot('outputSCGraph', [graph], {
            seriesDefaults: {
                showMarker: false,
                pointLabels: { show: false, edgeTolerance: 5 }
            },
            axes: {
                xaxis: { label: "sec", labelRenderer: $.jqplot.CanvasAxisLabelRenderer },
                yaxis: { label: "A", labelRenderer: $.jqplot.CanvasAxisLabelRenderer }
            },
            cursor: {
                show: true,
                zoom: true
            }
        });

        var graph = [[-1, 0], [0, 0], [0, 1], [1, 1]];
        outputTorquePlot = jQuery.jqplot('outputTorqueGraph', [graph], {
            seriesDefaults: {
                showMarker: false,
                pointLabels: { show: false, edgeTolerance: 5 }
            },
            axes: {
                xaxis: { label: "sec", labelRenderer: $.jqplot.CanvasAxisLabelRenderer },
                yaxis: { label: "Nm", labelRenderer: $.jqplot.CanvasAxisLabelRenderer }
            },
            cursor: {
                show: true,
                zoom: true
            }
        });

        var graph = [[-1, 0], [0, 0], [0, 1], [1, 1]];
        outputSpeedPlot = jQuery.jqplot('outputSpeedGraph', [graph], {
            seriesDefaults: {
                showMarker: false,
                pointLabels: { show: false, edgeTolerance: 5 }
            },
            axes: {
                xaxis: { label: "sec", labelRenderer: $.jqplot.CanvasAxisLabelRenderer },
                yaxis: { label: "rad/s", labelRenderer: $.jqplot.CanvasAxisLabelRenderer }
            },
            cursor: {
                show: true,
                zoom: true
            }
        });

        var graph = [[-1, 0], [0, 0], [0, 1], [1, 1]];
        outputDCVPlot = jQuery.jqplot('outputDCVGraph', [graph], {
            seriesDefaults: {
                showMarker: false,
                pointLabels: { show: false, edgeTolerance: 5 }
            },
            axes: {
                xaxis: { label: "sec", labelRenderer: $.jqplot.CanvasAxisLabelRenderer },
                yaxis: { label: "V", labelRenderer: $.jqplot.CanvasAxisLabelRenderer }
            },
            cursor: {
                show: true,
                zoom: true
            }
        });
    });

    $(window).resize(function () {
        outputSCPlot.replot();
        outputTorquePlot.replot();
        outputSpeedPlot.replot();
        outputDCVPlot.replot();
    });
</script>