<h2 style="text-align:center">Output</h2><br />

<!-- Stator current -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">Stator Current</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a href="#" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <img src="https://www.sscc.edu/home/jdavidso/music/musicnotes/SineWave.gif" style="width:100%" />
    </div>
</div>
<!-- Torque -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">Torque</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a href="#" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <img src="https://www.sscc.edu/home/jdavidso/music/musicnotes/SineWave.gif" style="width:100%" />
    </div>
</div>
<!-- Speed -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">Speed</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a href="#" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <img src="https://www.sscc.edu/home/jdavidso/music/musicnotes/SineWave.gif" style="width:100%" />
    </div>
</div>
<!-- DC bus voltage -->
<div class="panel panel-default">
    <div class="panel-heading nav navbar-default" style="padding:0px">
        <div class="navbar-header">
            <text class="navbar-brand" style="padding:15px">DC Bus Voltage</text>
        </div>
        <ul class="nav navbar-nav" style="float:right">
            <li><a href="#" class="glyphicon glyphicon-refresh"></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <img src="https://www.sscc.edu/home/jdavidso/music/musicnotes/SineWave.gif" style="width:100%" />
    </div>
</div>