.inputs {
  border-right: thin solid #cccccc;
}

.form-control.inputField{
    width: 50px;
    height: 30px;
    margin: 10px;
}

.navbar-text.navbar-text-custom{
    font-size:12px;
}

.step {
    display: none;
    margin: 0px;
    height: 50px;
}

.hidden{
    display: none;
}

.sine {
    display: none;
    margin: 0px;
    height: 50px;
}

.ramp {
    display: none;
    margin: 0px;
    height: 50px;
}

.custom {
    display: none;
    margin: 0px;
    height: 50px;
}

p.navbar-text {
    margin-left: 5px;
    margin-right: 5px;
}

.container-full {
  width: 100%;
}

.label-custom {
    font-size: 10px;
    display: inline-block;
    text-align: right;
    padding: 10px;
    width: auto;
}

.input-custom{
    width: 50px;
    font-size: 10px;
    text-align: right;
    display: inline-block;
}

fieldset {
    border: 1px groove #808080; 
    padding: 0px;   
}

legend {
    border: none;
    width: auto;
    font-size: 10px;
    padding: 3px;
    margin-bottom: 5px;
}

#motorParam {
    text-align: right;
}