<div class="form-group step" style="text-align:right">
    <p class="navbar-text navbar-text-custom">Step time</p>
    <input type="text" class="form-control inputField" value="0">

    <p class="navbar-text navbar-text-custom">Initial value</p>
    <input type="text" class="form-control inputField" value="0">

    <p class="navbar-text navbar-text-custom">Final value</p>
    <input type="text" class="form-control inputField" value="1">

    <ul class="nav navbar-nav" style="float:right">
        <li><a href="#" class="glyphicon glyphicon-ok" role="button"></a></li>
    </ul>
</div>

<div class="form-group sine">
    <p class="navbar-text navbar-text-custom">Amplitude</p>
    <input type="text" class="form-control inputField">

    <p class="navbar-text navbar-text-custom">Bias</p>
    <input type="text" class="form-control inputField">

    <p class="navbar-text navbar-text-custom">Frequency</p>
    <input type="text" class="form-control inputField">

    <p class="navbar-text navbar-text-custom">Phase</p>
    <input type="text" class="form-control inputField">

    <ul class="nav navbar-nav" style="float:right">
        <li><a id="preview_btn" href="#" class="glyphicon glyphicon-ok"></a></li>
    </ul>
</div>

<div class="form-group ramp">
    <p class="navbar-text navbar-text-custom">Slope</p>
    <input type="text" class="form-control inputField">

    <p class="navbar-text navbar-text-custom">Start time</p>
    <input type="text" class="form-control inputField">

    <p class="navbar-text navbar-text-custom">Initial value</p>
    <input type="text" class="form-control inputField">

    <ul class="nav navbar-nav" style="float:right">
        <li><a id="preview_btn" href="#" class="glyphicon glyphicon-ok"></a></li>
    </ul>
</div>

<div class="form-group custom">
    <p class="navbar-text navbar-text-custom">Upload</p>
    <ul class="nav navbar-nav" style="float:right">
        <li><a href="#" class="glyphicon glyphicon-upload" role="button"></a></li>
    </ul>
</div>