<div class="form-group step">
    <p class="navbar-text" style="font-size:12px">Step time</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <p class="navbar-text" style="font-size:12px">Initial value</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <p class="navbar-text" style="font-size:12px">Final value</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <ul class="nav navbar-nav" style="float:right">
        <li><a href="#" class="glyphicon glyphicon-ok"></a></li>
    </ul>
</div>

<div class="form-group sine">
    <p class="navbar-text" style="font-size:12px">Amplitude</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <p class="navbar-text" style="font-size:12px">Bias</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <p class="navbar-text" style="font-size:12px">Frequency</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <p class="navbar-text" style="font-size:12px">Phase</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <ul class="nav navbar-nav" style="float:right">
        <li><a id="preview_btn" href="#" class="glyphicon glyphicon-ok"></a></li>
    </ul>
</div>
<div class="form-group ramp">
    <p class="navbar-text" style="font-size:12px">Slope</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <p class="navbar-text" style="font-size:12px">Start time</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <p class="navbar-text" style="font-size:12px">Initial value</p>
    <input type="text" class="form-control" style="width:50px; margin:10px; height: 30px">
    <ul class="nav navbar-nav" style="float:right">
        <li><a id="preview_btn" href="#" class="glyphicon glyphicon-ok"></a></li>
    </ul>
</div>