@{
    ViewBag.Title = "About";
}

<section class="header" style="margin-bottom:40px">
</section>

<div class="container">
    <h2 style="text-align:center;margin-bottom:0px"><b> Web-based Simulation </b></h2>
    <h3 style="text-align:center;margin-top:0px"><small> The Web-based Simulation was created to provide a fast and efficient solution for model-based simulations. </small></h3>
</div>

<div class="container" style="margin-top:20px;margin-bottom:20px;text-align:center">

    <div class="col-md-4">
        <img src="~/Content/img/Ease.png" class="img-container-icon">
        <h3 style="margin-top:30px"><b>Ease of use</b></h3>
        <p style="color:#999999">
            The Web-based Simulation features easy-to-use user interfaces with built-in tooltip
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Content/img/Cloud.ico" class="img-container-icon">
        <h3 style="margin-top:30px"><b>Cloud implementation</b></h3>
        <p style="color:#999999">
            The Web-based Simulation features cloud implementation which allows access to the simulation anytime from anywhere
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Content/img/Interactive.png" class="img-container-icon">
        <h3 style="margin-top:30px"><b>Interactive graph</b></h3>
        <p style="color:#999999">
            The Web-based Simulation features real-time-updated input graphs and interactive output
            graphs which allows the user to zoom and pan the output graphs.
        </p>
    </div>
</div>

<div class="section">
    @*Need to look into formatting this line*@
    <span style="color:white;padding-top:25px;"><h2><b>ANCA MOTION</b></h2></span>
</div>

<ul id="rig">
    <li>
        <a class="rig-cell" href="https://www.ancamotion.com/about">
            <img class="rig-img" src="~/Content/img/About.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text"><b>About Us</b></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="https://www.ancamotion.com/applications">
            <img class="rig-img" src="~/Content/img/Technology.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text"><b>Our Solutions</b></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="https://www.ancamotion.com/products">
            <img class="rig-img" src="~/Content/img/product.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text"><b>Our Products</b></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="https://www.ancamotion.com/contact-us/careers">
            <img class="rig-img" src="~/Content/img/Work.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text"><b>Work with Us</b></span>
        </a>
    </li>
</ul>
